<h1 class="text-center my-4">Favoritos</h1>

<div *ngIf="productosFavorito.length === 0" class="ss">
  No hay productos en favoritos.
</div>

<div class="card-container">
  <ng-container *ngIf="productosFavorito && productosFavorito.length">
      <ng-container *ngFor="let Producto of productosFavorito">
          <div *ngIf="Producto.disponibilidad" class="card">
              <!-- From Uiverse.io by andrew-demchenk0 -->

              <!-- carta-->
              <div class="package">
                  <div class="package2">

                      


                      <div class="texto">
                          <p class="text">
                              <img class="imagen" [src]="Producto.imagen" alt="{{Producto.nombre}}"
                                  class="product-image">
                          <h2>{{Producto.nombre}}</h2>

                          <p>{{Producto.descripcion}}</p>
                          <p><strong>Precio:${{Producto.precio}}</strong></p>
                      </div>
             
                  </div>

              </div>
          </div>

      </ng-container>
  </ng-container>
</div>