
<!-- Cuerpo del documento -->
<div class="contenedor">
  <!-- Contenedor principal que envuelve la imagen y el texto -->

  <div class="home">
    <img src="./assets/ñam.png">
    <div class="home-front">

      <p class="title">LA CASA DE EMPANADAS</p>


    </div>


    <div class="home-back">
      <p><strong>La Casa de Empanadas</strong> </p>
      <p><strong>Receta de la abuela, sabor de siempre.</strong></p>
      <p><strong>Tu lugar de confianza</strong></p>
    </div>
  </div>
</div>
<!--

<div class="filter">
  <div class="row mb-3">
    <label for="">categoría</label>
    <select class="form-select" [(ngModel)]="selectedCategory" name="categoría">
      <option value="">todos</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
    </select>
  </div>
  <div class="col mb-3">
    <label>marca:</label>
    <select class="form-select" [(ngModel)]="selectedBrand" name="marca">
      <option value="">todos</option>
      <option *ngFor="let marca of marcas" [value]="marca">{{marca}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label>precio min</label>
    <input type="number" class="front-control" [(ngModel)]="miprecio" name="minprecio">
  </div>
  <div class="col-md-2">
    <label>precio max</label>
    <input type="number" class="front-control" [(ngModel)]="miprecio" name="maxprecio">
  </div>
  <div class="col-md-2">
    <label>precio max</label>
    <input type="number" class="front-control" [(ngModel)]="miprecio" name="maxprecio">
  </div>
  <div class="col-md-2 d-flex aling-items-end">
    <button class="btn btn-secondar w-180" (click)="resetFilter()">
      <div class="button-top">Limpiar</div>
    </button>
  </div>
</div>
<div class="card-container">
  <ng-container *ngIf="filteredProducts && filteredProducts.lenght">
    <ng-container *ngFor="let producto of filteredProducts">
      <div class="card" *ngIf="producto.disponibilidad">
        <img [src]="producto.img" alt="{{producto.nombre}}" class="product-image">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripcion}}</p>
        <p>{{producto.precio}}</p>
        <p>{{producto.cantidad}}</p>
        <p>{{producto.marca}}</p>
        <i class="bi bi-hand-thubls-up"></i>
      </div>
    </ng-container>
  </ng-container>
</div>-->
<!--app-favoritos class="item" style="--position: 8">
  <div class="card" style="background: linear-gradient(to right, #fbc2eb, #a18cd1)">
    <p>Card 8</p>
    <p>Content for card 8</p>
  </div>
</div>
<div class="item" style="--position: 9">
  <div class="card" style="background: linear-gradient(to right, #84fab0, #8fd3f4)">
    <p>card 9</p>
    <p>Content for card 9</p>
  </div>
</div>


<script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>-->